# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.venv/
venv/
env/

# Entorno
.env
.env.*
!.env.example

# Airflow
logs/
airflow.db
standalone_admin_password.txt

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log

# Datos locales
data/
*.parquet

# Notebooks
.ipynb_checkpoints/

# Herramientas
.pytest_cache/
.mypy_cache/
.ruff_cache/

# OS / editor
.DS_Store
.idea/
.vscode/
